@charset 'utf-8';

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
    padding: 0;
  }

.footer{
    height: 40px;
    background-color: #333;
    justify-content: center;
  }
  
  .footer p{
    padding: 10px;
    text-align: center;
    color: #fff;
  }